/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

/******************************************
/* LAYOUT
/*******************************************/
 body {
     display: block;
     margin: 0;
     font-family: 'Poppins', sans-serif;
     font-weight: 200;
     background: #fddc03;
     color: black;
 }


 form {
     text-align: center;
     margin: 2rem 0;
 }

.boxes {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    flex-direction: column;
}

.drop {
    display: flex;
    justify-content: center;
}
 

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

.main {
    margin: 1rem 8rem;
    -webkit-backdrop-filter: blur(8px);  /* Safari 9+ */
    backdrop-filter: blur(8px); /* Chrome and Opera */
    box-shadow: 0px 10px 15px 10px rgb(0 0 0 / 15%);
    background-color: rgb(228 228 228 / 15%); 
    padding: 1rem 0;
}

h1 {
    text-align: center;
    font-size: 3.5rem;
    font-weight: 400;
}

.breakdown {
    border: 2px solid black;
    border-radius: 10px;
    margin: .5rem 0;
    width: 300px;
    height: 175px;
    text-align: center;
}

label {
    font-size: 1.5rem;
}

input {
    height: 3rem;
    border-radius: 5px;
    border-color: rgb(228 228 228 / 75%); 
    -webkit-text-fill-color: black;
}

button {
    height: 3rem;
    background: #fff;
    border-radius: 10px;
}

h3 {
    font-size: 1.75rem;
    text-align: center;
}

p {
    font-size: 1.25rem;
    margin-top: -15px;
}

h2 {
    font-size: 2.5rem;
    text-align: center;
}

select {
    height: 3rem;
}
